doctype html
html(lang="en")
    include ./includes/head.jade
    body(style={'padding-top': '60px'})
        include ./includes/nav.jade

        include ./includes/products

        footer
            p
                | &copy Jade homework 2016
